<html>
	<%- include('includes/head') %>
	<body>
		<nav>
			<div class="container">
				<div class="nav-inner">
					<img src="assets/img/nbcuniversal-logo.svg" class="logo" />
					<div class="nav-trigger">
						<span>Menu</span>
					</div>
					<ul class="nav-items">
						<li>Shows</li>
						<li>Movies</li>
						<li>Careers</li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container content">
			<div class="grid">

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">Dec. 21<sup>st</sup>, 2016</div>
					<div class="title">Sing</div>
					<img src="assets/img/sing-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">July 29<sup>th</sup>, 2016</div>
					<div class="title">Jason Bourne</div>
					<img src="assets/img/jason-bourne-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">July 8<sup>th</sup>, 2016</div>
					<div class="title">The Secret Life of Pets</div>
					<img src="assets/img/secret-life-of-pets-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">July 1<sup>st</sup>, 2016</div>
					<div class="title">The Purge: Election Year</div>
					<img src="assets/img/the-purge-election-year-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">June 17<sup>th</sup>, 2016</div>
					<div class="title">Central Intelligence</div>
					<img src="assets/img/central-intelligence-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">June 10<sup>th</sup>, 2016</div>
					<div class="title">Warcraft</div>
					<img src="assets/img/warcraft-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">May 20<sup>th</sup>, 2016</div>
					<div class="title">Neighbors 2</div>
					<img src="assets/img/neighbors-2-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">June 26<sup>th</sup>, 2015</div>
					<div class="title">Ted 2</div>
					<img src="assets/img/ted-2-poster.jpg">
				</div>

				<div class="grid-item">
					<div class="fa fa-star"></div>
					<div class="release-date">June 12<sup>th</sup>, 2015</div>
					<div class="title">Jurassic World</div>
					<img src="assets/img/jurassic-world-poster.jpg">
				</div>

			</div>
			<div class="feed">

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

				<div class="feed-item">
					<div class="feed-post">Get a sneek peek of Despicable Me 3 with your NBC ID</div>
					<div class="feed-time">Friday | 12:39pm</div>
				</div>

			</div>
		</div>
			<div class="footer">
				<img src="assets/img/ux-logo.svg" />
				<div class="copy">A DPIM UX Production</div>
			</div>

		<script src="assets/js/app.js"></script>
	</body>
</html>
